<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TwitterFeedConsumerKey" value="znezn51VGrkCCDbITDhL6nveI" />
    <add key="TwitterFeedConsumerSecret" value="LvJah8rPUF9KX6sLoeq7mDa8BPd8oraj3XWmL4Yby99DioJgkP" />
    <add key="TwitterFeedAccessToken" value="854610547521859584-6Az8TfbQeu6qosjBbckmSonCFXUkZgc" />
    <add key="TwitterFeedAccessTokenSecret" value="ohzNexm3RNwwJLneXpheUrIJCo7exwd4ecxbTP5DUqZVR" />
    <add key="TwitterFeedUsers" value="MedvedevRussiaE, realDonaldTrump, reebok_or_nike" />
    <add key="MessageBusConnection" value="localhost" />
    <add key="MessageBusChannel" value="feed" />
  </appSettings>
</configuration>