<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="consumerKey" value="Wy6DaPaDbEMORNtkIJZXe5JzF" />
    <add key="consumerSecret" value="UIg18794fSWtOmVxE45sIfV9325crCyICAiwXavI7r9jsJHd2A" />
    <add key="accessToken" value="160168925-ipN83bHQ1QbUT703V8Z0HCNuSDuhMoqD75nrIb2t" />
    <add key="accessTokenSecret" value="mu0fPqytjmkJ551xoZWaWxtVIEpdtmtq3Hvh5zhfTUKep" />
    <add key="users" value="reebok_or_nike, realDonaldTrump" />
    <add key="redisHost" value="localhost" />
    <add key="redisPipeName" value="feed" />
  </appSettings>
</configuration>