<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="consumerKey" value="znezn51VGrkCCDbITDhL6nveI" />
    <add key="consumerSecret" value="LvJah8rPUF9KX6sLoeq7mDa8BPd8oraj3XWmL4Yby99DioJgkP" />
    <add key="accessToken" value="854610547521859584-6Az8TfbQeu6qosjBbckmSonCFXUkZgc" />
    <add key="accessTokenSecret" value="ohzNexm3RNwwJLneXpheUrIJCo7exwd4ecxbTP5DUqZVR" />
    <add key="users" value="MedvedevRussiaE, realDonaldTrump" />
    <add key="redisHost" value="localhost" />
    <add key="redisPipeName" value="feed" />
  </appSettings>
</configuration>